@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

body{
	background-color: #000;
}

#quote-box{
	border-radius: 3px;
	position: relative;
	width: 450px;
	margin: 10%, auto, auto, auto;
	background-color: #fff;
	
}